.corpo {
    background-color: #2b2c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Barra de Navegação */
div a{
    color: #2b2c34;
}

nav {
    padding: 1em;
    background-color: white;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    margin-left: 28em;
}

.user {
    margin-left: 52em;
}


/* Apresentação da Linguagem */
main {
    text-align: center;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: white;
    margin-top: 2em;
}

main h3 {
    color: rgb(255, 199, 114);
}

main img {
    width: 30%; /* Faça a imagem ocupar a largura total do seu contêiner */
    height: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px 18px rgba(255,255,255,0.23); 
    box-shadow: 0px 0px 24px 18px rgba(255,255,255,0.23);
}


/* Sessão HTML */
.html{
    background-color: #dcece3;
    height: auto;
}

.html h1{
    padding: 2.5em;
    margin-left: 14em;
}

.html h4{
    margin-top: -5em;
    margin-left: 22em;  
    color: #4a8664;
}

.html button{
    margin-left: 41.5em;
}

.htmlIMG{
    width: 20em;
    height: 25em;
    margin-left: 75em;
    margin-top: -16em;
    margin-bottom: 3em;
}


/* Sessão CSS */
.css{
    background-color: #fcf4a4;
    height: auto;
}

.css h1{
    padding: 2.5em;
    margin-left: 14.5em;
}

.css h4{
    margin-top: -5em;
    margin-left: 22.5em;
    color: #ddcc15;
}

.css button{
    margin-left: 41.5em;
}

.cssIMG{
    width: 20em;
    height: 20em;
    margin-left: 75em;
    margin-top: -16em;
    margin-bottom: 3em;
}


/* Sessão Footer */
footer{
    background-color: #2b2c34;
    text-align: center;
    padding: 3em;
    height: auto;
}

footer a{
    color: #b9b9b9 ;
}

footer p{
    color:  #fcf4a4;
}


/* Página HTML */
.corpoH section{
    background-color: #dcece3;
    padding: 3em;
}

.corpoH h4{
    color: #4a8664;
}


/* Página CSS */
.corpoC section{
    background-color: #fcf4a4;
    padding: 3em;
}

.corpoC h4{
    color: #ddcc15;
}


/* Página Login */
#bodyLogin{
    display: flex;
    align-items: center;
    justify-content: center;
}
#login{
    width: 50em;
    padding: 2em;
    border-radius: 3em;
    margin-top: 14em;


    -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    background-color: rgb(236, 255, 226);
}
#login h1{
    text-align: center; 
}


/* Página Cadastro */
#cadastro{
    width: 40em;
    padding: 2em;
    border-radius: 3em;
    margin-top: 5em;
    margin-bottom: 5em;

    -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    background-color: rgb(236, 255, 226);
}
#cadastro h1{
    text-align: center; 
}


/* Página Senha */
#senhaconf{
    width: 50em;
    padding: 2em;
    border-radius: 3em;
    margin-top: 14em;

    -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.78);
    background-color: rgb(236, 255, 226);
}
#senhaconf h1{
    text-align: center; 
}


/* Responsividade */
@media (max-width: 576px) {
    
 }
 
/* @media (min-width: 1200px) and (max-width: 1919px){
    nav {
        padding: 1em;
    }

     .logo {
        margin-left: 28em;
    }
    
    .user {
        margin-left: 52em;
    }
    .htmlIMG{
        margin-bottom: 3%;
    }
    .cssIMG{
        margin-bottom: 3%;
    }
}
@media (max-width: 1200px){
    .htmlIMG{
        margin-left: 70%;
        margin-top: -30%;
        margin-bottom: 3%;
    }
    .html h4{
        margin-top: -7%;
        margin-bottom: 3%;
        margin-left: 25%;
    }
    .cssIMG{
        margin-left: 70%;
        margin-top: -30%;
        margin-bottom: 3%;
    }
    .css h4{
        margin-top: -7%;
        margin-bottom: 3%;
        margin-left: 25%;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .htmlIMG{
        width: 15em;
        height: 20em;
    }
    .cssIMG{
        width: 15em;
        height: 15em;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .htmlIMG{
        width: 15em;
        height: 20em;
        margin-left: 50%;
        margin-top: -15%;
    }
    .cssIMG{
        width: 15em;
        height: 15em;
    }
} */
